.cart-container {
    position: sticky;
    top: 0;

}

.cart-title {
    padding-top: 28px;
    text-align: center;
}

.cart-info {
    margin-top: 50px;
    margin-left: 20px;
}

.cart-info p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
}

.grand-total {
    font-size: 21px;
}